[Unit]
Description=open-balena-api
Requires=confd.service
After=confd.service
StartLimitIntervalSec=0

[Service]
StandardOutput=journal+console
StandardError=journal+console
WorkingDirectory=/usr/src/app
EnvironmentFile=/usr/src/app/config/env
ExecStart=/usr/src/app/entry.sh
Restart=always
SyslogIdentifier=api

[Install]
WantedBy=basic.target
