name: Flowzone

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches: [main, master]
  # allow external contributions to use secrets within trusted code
  pull_request_target:
    types: [opened, synchronize, closed]
    branches: [main, master]

jobs:
  flowzone:
    name: Flowzone
    uses: product-os/flowzone/.github/workflows/flowzone.yml@fisehara/scan-artefacts-for-secrets
    # prevent duplicate workflows and only allow one `pull_request` or `pull_request_target` for
    # internal or external contributions respectively
    if: |
      (github.event.pull_request.head.repo.full_name == github.repository && github.event_name == 'pull_request') ||
      (github.event.pull_request.head.repo.full_name != github.repository && github.event_name == 'pull_request_target')
    secrets: inherit
    with:
      docker_images: balena/open-balena-api
      docker_runs_on: >
        {
          "linux/amd64": ["self-hosted","X64"],
          "linux/arm64": ["self-hosted","ARM64"]
        }
      # This allows external PRs to run custom actions so the custom actions must be safe to run in that context
      restrict_custom_actions: false
